/* --------------Nav----------------- */



nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 80px;
    position:;
    top: 0;

}
 nav .logo img{
    width: 150px;
}

nav ul {
    list-style: none;
}

 nav ul li{
    display: inline-block;
    margin-left: 30px;
}

 nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: 400;
    /* font-family: "Poppins", sans-serif; */
    /* font-family: "Quicksand", sans-serif; */
    font-family: 'poppins',sans-serif;
}
 nav ul li a::after{
    content: ' ';
    width: 0%;
    height: 2px;
   background-color: #fac031;
    position: relative;
    bottom: 0;
    display: block;
    transition: 0.6s;
}
 nav ul li a:hover::after{
    width: 100%;
}

 nav ul li a:hover{
    color: #fac031;
    transition: 0.3s;
}

 nav .Home-icons i{
    margin-left: 25px;
    font-size: 19px;
    cursor: pointer;
    color: black;
}

 nav .Home-icons i:hover{
    color: #fac031;
    transition: 0.3s;
}


.main{
    height: 225px;
    width: fit-content;
    /* display: flex;
    flex-wrap: wrap; */
}
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    position: absolute;
    top: 65px;
    left: 40%;
    margin-bottom: 0;
    font-size: 40px;

    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

    /* font-size: 2.5em;
    margin: 20px 0; */
}
.heading-black {
    color: black;
}
.heading-yellow {
    color: #f7b102;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 160px;
    left: 10%;
    right: 15%;
}
.buttons button {
    margin-left: 1%;
    margin-top: 1%;
    flex-wrap: wrap;
    background-color: black;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 17px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons button:hover{
    
    background: #f7b102;
    transition: 0.3s;
    border: 1px solid;
}
section{
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100%;
}
.menu-item {
    width: 325px;
    height: 480px;
    background-color: #222831;
    border-radius: 7px;
    padding-top: 10px;
    margin-bottom: 20px;
    gap: 50px;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
}
.menu-item .menu-img {
    width: 300px;
    height: 400px;
    margin: auto;
    padding-top: 5px;
    overflow: hidden;
    
}
.menu-item .menu-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu-item .menu-img img:hover{
    transform: scale(1.07);
    transition: 0.5s;
    cursor: pointer;
}

.menu-box .menu-content{
    margin: 10px 15px;
}  

.menu-box .menu-content h2{
    font-size: 35px;
    color: white;
    font-family: mv boli;
    margin-top: -50px;
}

.menu-box .menu-content h5{
    color: rgb(188, 188, 188);
    text-align: justify;
   margin-top: -20px;
}

.menu-box .menu-content h3{
    font-size: 18px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -20px;
}

.menu-box .menu-content h3 span{
    color: #fac031;
        font-size: 30px;
    
}

.menu-box .menu-content .menu-btn{
    background-color: #fac031;
    padding: 12px 18px;
    width: fit-content;
    margin-top: 10px;
    border-radius: 8px;
}

.menu-box .menu-content .menu-btn a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-box .menu-content .menu-btn i {
    color: #222831;
}


/* @media screen and (max-width: 424px) {
    .buttons button{
        padding: 12px 24px;
        font-size: 18px;
        position: absolute;
        /* top: -300px; */
    /* }
} */ 

/* @media (max-width: 424px) {
    .h1{
        padding: 12px 24px;
        font-size: 18px;
        position: absolute;
        top:50px;
    }
} */

